flows.json
[
    {
        "id": "f8aa3235cf2ec5d8",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a88d4a90841add0",
        "type": "tab",
        "label": "HomeKit Integration",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "718f5fabaac10b79",
        "type": "ui-base",
        "name": "Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "65d08f24e020703e",
        "type": "ui-theme",
        "name": "Theme",
        "colors": {
            "surface": "#ff6a00",
            "primary": "#ff6a00",
            "bgPage": "#ffffff",
            "groupBg": "#ebebeb",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "10px",
            "groupGap": "10px",
            "groupBorderRadius": "4px",
            "widgetGap": "0px"
        }
    },
    {
        "id": "8dea16c6d0827c7a",
        "type": "ui-page",
        "name": "Overview",
        "ui": "718f5fabaac10b79",
        "path": "/overview",
        "icon": "home",
        "layout": "grid",
        "theme": "65d08f24e020703e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b5a02095750de218",
        "type": "ui-group",
        "name": "LPG",
        "page": "8dea16c6d0827c7a",
        "width": "3",
        "height": "3",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d0be2aa0c9296d83",
        "type": "ui-page",
        "name": "Battery",
        "ui": "718f5fabaac10b79",
        "path": "/battery",
        "icon": "battery-high",
        "layout": "grid",
        "theme": "65d08f24e020703e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "767b6a32326315fd",
        "type": "ui-group",
        "name": "Solar Power [W]",
        "page": "949188085ecf898f",
        "width": "9",
        "height": "6",
        "order": 1,
        "showTitle": true,
        "className": "my-row-span-3",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "949188085ecf898f",
        "type": "ui-page",
        "name": "Solar",
        "ui": "718f5fabaac10b79",
        "path": "/solar",
        "icon": "white-balance-sunny",
        "layout": "grid",
        "theme": "65d08f24e020703e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "b6dffcc7f93dd2cd",
        "type": "ui-group",
        "name": "State of Charge [%]",
        "page": "d0be2aa0c9296d83",
        "width": "9",
        "height": "6",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ab8d8a0602f7be5f",
        "type": "ui-group",
        "name": "Battery",
        "page": "8dea16c6d0827c7a",
        "width": "3",
        "height": "3",
        "order": 2,
        "showTitle": true,
        "className": "my-row-span-3",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "851a19cf340c4af4",
        "type": "ui-group",
        "name": "Solar",
        "page": "8dea16c6d0827c7a",
        "width": "3",
        "height": "3",
        "order": 1,
        "showTitle": true,
        "className": "my-row-span-3",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4a46055ef71bd0a1",
        "type": "ui-page",
        "name": "LPG",
        "ui": "718f5fabaac10b79",
        "path": "/lpg",
        "icon": "gas-cylinder",
        "layout": "grid",
        "theme": "65d08f24e020703e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 6,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a50cae230ad147cc",
        "type": "ui-group",
        "name": "Gas Level [%]",
        "page": "4a46055ef71bd0a1",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ac3765750752ad30",
        "type": "ui-group",
        "name": "Coffee Machine",
        "page": "8dea16c6d0827c7a",
        "width": "3",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3f46b93f98d0309b",
        "type": "ui-group",
        "name": "Battery [%]",
        "page": "4a46055ef71bd0a1",
        "width": "3",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4505ba7932cfd313",
        "type": "ui-page",
        "name": "Diagnostics",
        "ui": "718f5fabaac10b79",
        "path": "/diagnostics",
        "icon": "wrench",
        "layout": "grid",
        "theme": "e3486d2647da3ab8",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 10,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "cd19b507456e0ba2",
        "type": "ui-group",
        "name": "Node RED",
        "page": "4505ba7932cfd313",
        "width": "3",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e3486d2647da3ab8",
        "type": "ui-theme",
        "name": "Theme Gap",
        "colors": {
            "surface": "#ff6a00",
            "primary": "#e32400",
            "bgPage": "#ffffff",
            "groupBg": "#ebebeb",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "10px",
            "groupGap": "10px",
            "groupBorderRadius": "4px",
            "widgetGap": "4px"
        }
    },
    {
        "id": "307616ec0e946b1f",
        "type": "ui-group",
        "name": "Raspberry Pi",
        "page": "4505ba7932cfd313",
        "width": "3",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "066f91ffe1f81631",
        "type": "ui-group",
        "name": "Venus GUI v2",
        "page": "39467db415bd26ea",
        "width": "9",
        "height": "6",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "950c7e84dc258ffb",
        "type": "ui-page",
        "name": "Overview 2",
        "ui": "718f5fabaac10b79",
        "path": "/overview2",
        "icon": "home",
        "layout": "grid",
        "theme": "65d08f24e020703e",
        "order": 2,
        "className": "",
        "visible": "false",
        "disabled": "true"
    },
    {
        "id": "184b464b9ef6e1e9",
        "type": "ui-group",
        "name": "Battery",
        "page": "950c7e84dc258ffb",
        "width": "3",
        "height": "6",
        "order": 2,
        "showTitle": true,
        "className": "my-row-span-3",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "24cb15692531f81d",
        "type": "ui-group",
        "name": "4G",
        "page": "4505ba7932cfd313",
        "width": "3",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "376dd725c0ba26d1",
        "type": "ui-group",
        "name": "Solar",
        "page": "950c7e84dc258ffb",
        "width": "3",
        "height": "6",
        "order": 1,
        "showTitle": true,
        "className": "my-row-span-3",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7cee520cf475db2a",
        "type": "ui-group",
        "name": "LPG",
        "page": "950c7e84dc258ffb",
        "width": "3",
        "height": "4",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ba338f1031239462",
        "type": "ui-group",
        "name": "Coffee Machine",
        "page": "950c7e84dc258ffb",
        "width": "3",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "39467db415bd26ea",
        "type": "ui-page",
        "name": "Venus GUI v2",
        "ui": "718f5fabaac10b79",
        "path": "/venus2",
        "icon": "alpha-g-circle-outline",
        "layout": "grid",
        "theme": "fb361d8cf79263ff",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 8,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ce04dc6721b53338",
        "type": "ui-group",
        "name": "Venus GUI v1",
        "page": "fdacafbad7bf9046",
        "width": "9",
        "height": "6",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9572caa4c78b4484",
        "type": "ui-group",
        "name": "Venus MFD",
        "page": "9286426e07df8a5f",
        "width": "9",
        "height": "6",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9286426e07df8a5f",
        "type": "ui-page",
        "name": "Venus MFD",
        "ui": "718f5fabaac10b79",
        "path": "/venusmfd",
        "icon": "alpha-m-circle-outline",
        "layout": "grid",
        "theme": "fb361d8cf79263ff",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 9,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "fdacafbad7bf9046",
        "type": "ui-page",
        "name": "Venus GUI v1",
        "ui": "718f5fabaac10b79",
        "path": "/venus",
        "icon": "alpha-v-circle-outline",
        "layout": "grid",
        "theme": "fb361d8cf79263ff",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 7,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "fb361d8cf79263ff",
        "type": "ui-theme",
        "name": "Theme No Padding",
        "colors": {
            "surface": "#ff6a00",
            "primary": "#ff6a00",
            "bgPage": "#ffffff",
            "groupBg": "#ebebeb",
            "groupOutline": "#d6d6d6"
        },
        "sizes": {
            "pagePadding": "0px",
            "groupGap": "0px",
            "groupBorderRadius": "0px",
            "widgetGap": "0px"
        }
    },
    {
        "id": "6bb5a57f93b8cd26",
        "type": "ui-page",
        "name": "Temperature",
        "ui": "718f5fabaac10b79",
        "path": "/temperature",
        "icon": "thermometer",
        "layout": "grid",
        "theme": "65d08f24e020703e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "239c72cc7c0270f1",
        "type": "ui-group",
        "name": "Temperature [ºC]",
        "page": "6bb5a57f93b8cd26",
        "width": "9",
        "height": "6",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "victron-client-id",
        "type": "victron-client",
        "showValues": true,
        "contextStore": true
    },
    {
        "id": "17ca444f2390bfbd",
        "type": "homekit-bridge",
        "bridgeName": "iSmove HK Bridge",
        "pinCode": "9819-1223",
        "port": "",
        "advertiser": "avahi",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.7.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.7.3",
        "hardwareRev": "1.7.3",
        "softwareRev": "1.7.3",
        "bind": "[\"eth0\",\"wlan0\"]",
        "bindType": "json",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "192.168.43.1",
        "mdnsPort": "5353",
        "mdnsIp": "224.0.0.251",
        "mdnsTtl": "255",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": false
    },
    {
        "id": "99f2f06b3ac0711d",
        "type": "mqtt-broker",
        "name": "Aedes @ localhost",
        "broker": "localhost",
        "port": "1885",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "322d6acb8e1cc698",
        "type": "ui-radio-group",
        "z": "f8aa3235cf2ec5d8",
        "group": "ac3765750752ad30",
        "name": "",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "OFF",
                "value": 1,
                "type": "num"
            },
            {
                "label": "ON",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "ac748dfed8bde63e"
            ]
        ]
    },
    {
        "id": "29cec00149931088",
        "type": "victron-input-vebus",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.vebus/276",
        "path": "/Mode",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "0. Multiplus"
        },
        "pathObj": {
            "path": "/Mode",
            "type": "enum",
            "name": "Switch Position",
            "enum": {
                "1": "Charger Only",
                "2": "Inverter Only",
                "3": "On",
                "4": "Off"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "outputs": 1,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "322d6acb8e1cc698",
                "4fba035990245d4f"
            ]
        ]
    },
    {
        "id": "caac6b36d4f9aa63",
        "type": "victron-output-vebus",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.vebus/276",
        "path": "/Mode",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "0. Multiplus"
        },
        "pathObj": {
            "path": "/Mode",
            "type": "enum",
            "name": "Switch Position",
            "remarks": "<p>Note that <tt>/ModeIsAdjustable</tt> needs to be set to 1.</p> ",
            "enum": {
                "1": "Charger Only",
                "2": "Inverter Only",
                "3": "On",
                "4": "Off"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "outputs": 0,
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "ac748dfed8bde63e",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 100,
        "wires": [
            [
                "caac6b36d4f9aa63"
            ]
        ]
    },
    {
        "id": "68cd119202b6afa0",
        "type": "victron-input-vebus",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.vebus/276",
        "path": "/Ac/ActiveIn/CurrentLimit",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "0. Multiplus"
        },
        "pathObj": {
            "path": "/Ac/ActiveIn/CurrentLimit",
            "type": "float",
            "name": "Active input current limit (A)"
        },
        "name": "",
        "onlyChanges": true,
        "roundValues": "0",
        "outputs": 1,
        "x": 220,
        "y": 160,
        "wires": [
            [
                "baae88c3c306dfa8"
            ]
        ]
    },
    {
        "id": "baae88c3c306dfa8",
        "type": "ui-radio-group",
        "z": "f8aa3235cf2ec5d8",
        "d": true,
        "group": "ac3765750752ad30",
        "name": "",
        "label": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "columns": 1,
        "passthru": false,
        "options": [
            {
                "label": "3A",
                "value": 3,
                "type": "num"
            },
            {
                "label": "6A",
                "value": "6",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 510,
        "y": 160,
        "wires": [
            [
                "558f6f45d263d5d6"
            ]
        ]
    },
    {
        "id": "558f6f45d263d5d6",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "f772af2d45f8cbd2"
            ]
        ]
    },
    {
        "id": "f772af2d45f8cbd2",
        "type": "victron-output-vebus",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.vebus/276",
        "path": "/Ac/ActiveIn/CurrentLimit",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "0. Multiplus"
        },
        "pathObj": {
            "path": "/Ac/ActiveIn/CurrentLimit",
            "type": "float",
            "name": "Active input current limit (A)",
            "writable": true
        },
        "name": "",
        "onlyChanges": false,
        "outputs": 0,
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "d484eb5024a5ef6b",
        "type": "victron-input-battery",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.battery/278",
        "path": "/TimeToGo",
        "serviceObj": {
            "service": "com.victronenergy.battery/278",
            "name": "1. Shunt"
        },
        "pathObj": {
            "path": "/TimeToGo",
            "type": "float",
            "name": "Time to go (s)"
        },
        "name": "",
        "onlyChanges": true,
        "roundValues": "0",
        "outputs": 1,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "d513c7470ec52861"
            ]
        ]
    },
    {
        "id": "8de0f31731dac937",
        "type": "ui-text",
        "z": "f8aa3235cf2ec5d8",
        "group": "ab8d8a0602f7be5f",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "Battery time to go",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#444444",
        "className": "",
        "x": 1490,
        "y": 280,
        "wires": []
    },
    {
        "id": "ab9594709675199f",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "b6dffcc7f93dd2cd",
        "name": "Battery SoC History",
        "label": "",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "HH:mm",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "yAxisPropertyType": "property",
        "ymin": "0",
        "ymax": "101",
        "bins": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "line",
        "pointRadius": "1",
        "showLegend": false,
        "removeOlder": "2",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0096ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "9",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 940,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "78a58c77ab3e845f",
        "type": "victron-input-battery",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.battery/278",
        "path": "/Soc",
        "serviceObj": {
            "service": "com.victronenergy.battery/278",
            "name": "1. Shunt"
        },
        "pathObj": {
            "path": "/Soc",
            "type": "float",
            "name": "State of charge (%)"
        },
        "name": "",
        "onlyChanges": true,
        "roundValues": "0",
        "outputs": 1,
        "x": 180,
        "y": 580,
        "wires": [
            [
                "5151a402f810af21",
                "1371fa72328a0d9e"
            ]
        ]
    },
    {
        "id": "135cbdeefb03861f",
        "type": "victron-input-solarcharger",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.solarcharger/279",
        "path": "/Yield/Power",
        "serviceObj": {
            "service": "com.victronenergy.solarcharger/279",
            "name": "2. Solar"
        },
        "pathObj": {
            "path": "/Yield/Power",
            "type": "float",
            "name": "PV Power (W)"
        },
        "name": "",
        "onlyChanges": true,
        "roundValues": "0",
        "outputs": 1,
        "x": 160,
        "y": 700,
        "wires": [
            [
                "32a18f0f46d9c442",
                "3a81adc150247b0b"
            ]
        ]
    },
    {
        "id": "67b30e90fc149ad2",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "767b6a32326315fd",
        "name": "PV Power History",
        "label": "",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "HH:mm",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "yAxisPropertyType": "property",
        "ymin": "-2",
        "ymax": "700",
        "bins": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "line",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "2",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#ff9300",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "9",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 930,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "c8c2033f38bb673a",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "ab8d8a0602f7be5f",
        "name": "Battery SoC",
        "label": "",
        "order": 1,
        "chartType": "bar",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "topic",
        "xAxisPropertyType": "msg",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "yAxisPropertyType": "property",
        "ymin": "0",
        "ymax": "100",
        "bins": "",
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0096ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "5",
        "className": "my-chart-vertical-large",
        "interpolation": "linear",
        "x": 770,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "2dbf19b7bcaa6a45",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "851a19cf340c4af4",
        "name": "PV Power",
        "label": "",
        "order": 1,
        "chartType": "bar",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "topic",
        "xAxisPropertyType": "msg",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "yAxisPropertyType": "property",
        "ymin": "0",
        "ymax": "100",
        "bins": "",
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ff9300",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "5",
        "className": "my-chart-vertical-large",
        "interpolation": "linear",
        "x": 760,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "32a18f0f46d9c442",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "convert to %",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(msg.payload / 750 * 100)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 880,
        "wires": [
            [
                "b00aac81eb2503b4"
            ]
        ]
    },
    {
        "id": "b00aac81eb2503b4",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Solar Power [%]",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 880,
        "wires": [
            [
                "2dbf19b7bcaa6a45",
                "cdf5150b5243959a"
            ]
        ]
    },
    {
        "id": "5151a402f810af21",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "State of Charge [%]",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 820,
        "wires": [
            [
                "c8c2033f38bb673a",
                "792207cd5a0a23be"
            ]
        ]
    },
    {
        "id": "6b894dfa8fce8594",
        "type": "ui-text",
        "z": "f8aa3235cf2ec5d8",
        "group": "851a19cf340c4af4",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "PV Yield",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#444444",
        "className": "",
        "x": 800,
        "y": 940,
        "wires": []
    },
    {
        "id": "ed23a58468ca244c",
        "type": "victron-input-solarcharger",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.solarcharger/279",
        "path": "/History/Daily/0/Yield",
        "serviceObj": {
            "service": "com.victronenergy.solarcharger/279",
            "name": "2. Solar"
        },
        "pathObj": {
            "path": "/History/Daily/0/Yield",
            "type": "float",
            "name": "Yield today (kWh)"
        },
        "name": "",
        "onlyChanges": true,
        "roundValues": "no",
        "outputs": 1,
        "x": 170,
        "y": 940,
        "wires": [
            [
                "a69a463b5e9d760d"
            ]
        ]
    },
    {
        "id": "a69a463b5e9d760d",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "convert to Wh (%)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(msg.payload * 1000) & \" Wh\" & \" (\" & $round((msg.payload * 0.038 * 1000)) & \"%)\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 940,
        "wires": [
            [
                "6b894dfa8fce8594",
                "9922455809324f67"
            ]
        ]
    },
    {
        "id": "3a81adc150247b0b",
        "type": "delay",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 700,
        "wires": [
            [
                "a56a718a7243b9e2"
            ]
        ]
    },
    {
        "id": "1371fa72328a0d9e",
        "type": "delay",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 580,
        "wires": [
            [
                "99d27a219a9e5136"
            ]
        ]
    },
    {
        "id": "268c6564a8a5c0cf",
        "type": "function",
        "z": "f8aa3235cf2ec5d8",
        "name": "JSON",
        "func": "msg.payload = JSON.parse(String(msg.payload));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1160,
        "wires": [
            [
                "3762895bdd991b1c"
            ]
        ]
    },
    {
        "id": "3762895bdd991b1c",
        "type": "switch",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "property": "payload.address",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "88:6b:0f:f4:cc:69",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "88:6b:0f:f4:cc:73",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 390,
        "y": 1160,
        "wires": [
            [
                "899a8ccc502c637f",
                "9896f80b9b94bef5"
            ],
            [
                "899a8ccc502c637f",
                "4d0f5f2a7008c756"
            ],
            [
                "bc8b5fc2957fd942"
            ]
        ]
    },
    {
        "id": "5f47dfcbb6c4f4ff",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1040,
        "wires": []
    },
    {
        "id": "899a8ccc502c637f",
        "type": "function",
        "z": "f8aa3235cf2ec5d8",
        "name": "mfd",
        "func": "let mfd = Buffer.from(msg.payload.advertisement.manufacturerData);\n\n// msg.payload.mman_type = typeof (mfd);\n// msg.payload.mman_str = JSON.stringify(mfd);\n// msg.payload.mman_obj = JSON.parse(JSON.stringify(mfd));\n\nmsg.payload.mman_bl = mfd[3];\nmsg.payload.mman_tl1 = mfd[4];\nmsg.payload.mman_tl2 = mfd[5];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1100,
        "wires": [
            [
                "5f47dfcbb6c4f4ff",
                "4a7f1635efdf09bc"
            ]
        ]
    },
    {
        "id": "9896f80b9b94bef5",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "cc",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1280,
        "wires": []
    },
    {
        "id": "532f8cf32bd3497c",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "a50cae230ad147cc",
        "name": "LPG History",
        "label": "",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "HH:mm",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "yAxisPropertyType": "property",
        "ymin": "-2",
        "ymax": "204",
        "bins": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "line",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "2",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#ff2e91",
            "#ff80bc",
            "#ff2f92",
            "#ff2f92",
            "#ff2f92",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1930,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "4a7f1635efdf09bc",
        "type": "switch",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "property": "payload.address",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "88:6b:0f:f4:cc:73",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "88:6b:0f:f4:cc:69",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 730,
        "y": 1160,
        "wires": [
            [
                "779d0d7c615dc92b",
                "0dda6c321dade9ce"
            ],
            [
                "ce71a173805b6bce",
                "240a9780e33c1538"
            ],
            []
        ]
    },
    {
        "id": "779d0d7c615dc92b",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "Tank 1 Battery Level",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tank 1 [%]",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mman_bl",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1060,
        "wires": [
            [
                "01b0874bb51dd445"
            ]
        ]
    },
    {
        "id": "0dda6c321dade9ce",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "Tank 1 Level",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tank 1 [%]",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mman_tl1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1100,
        "wires": [
            [
                "985575374b7203b9",
                "05814746cc5df126",
                "f231abf29a762452"
            ]
        ]
    },
    {
        "id": "ce71a173805b6bce",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "Tank 2 Battery Level",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tank 2 [%]",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mman_bl",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1220,
        "wires": [
            [
                "01b0874bb51dd445"
            ]
        ]
    },
    {
        "id": "240a9780e33c1538",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "Tank 2 Level",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tank 2 [%]",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mman_tl1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1260,
        "wires": [
            [
                "985575374b7203b9",
                "05814746cc5df126",
                "f231abf29a762452"
            ]
        ]
    },
    {
        "id": "99d27a219a9e5136",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 580,
        "wires": [
            [
                "ab9594709675199f"
            ]
        ]
    },
    {
        "id": "a56a718a7243b9e2",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 700,
        "wires": [
            [
                "67b30e90fc149ad2"
            ]
        ]
    },
    {
        "id": "d513c7470ec52861",
        "type": "switch",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "45f2f3c5f31d57aa"
            ]
        ]
    },
    {
        "id": "45f2f3c5f31d57aa",
        "type": "humanizer",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "input": "",
        "x": 510,
        "y": 340,
        "wires": [
            [
                "ee81589423417d70"
            ]
        ]
    },
    {
        "id": "e0a3f254f8dc5743",
        "type": "victron-input-battery",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.battery/278",
        "path": "/Dc/0/Current",
        "serviceObj": {
            "service": "com.victronenergy.battery/278",
            "name": "1. Shunt"
        },
        "pathObj": {
            "path": "/Dc/0/Current",
            "type": "float",
            "name": "Battery current (A)"
        },
        "name": "",
        "onlyChanges": false,
        "outputs": 1,
        "x": 180,
        "y": 420,
        "wires": [
            [
                "f336f5790df925fd"
            ]
        ]
    },
    {
        "id": "d761c63aeb9d6f21",
        "type": "victron-input-battery",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.battery/278",
        "path": "/ConsumedAmphours",
        "serviceObj": {
            "service": "com.victronenergy.battery/278",
            "name": "1. Shunt"
        },
        "pathObj": {
            "path": "/ConsumedAmphours",
            "type": "float",
            "name": "Consumed Amphours (Ah)"
        },
        "name": "",
        "onlyChanges": false,
        "outputs": 1,
        "x": 200,
        "y": 480,
        "wires": [
            [
                "44d6c05657f151c3"
            ]
        ]
    },
    {
        "id": "44d6c05657f151c3",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "bcah",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 480,
        "wires": [
            [
                "effea666fd6300ab"
            ]
        ]
    },
    {
        "id": "f336f5790df925fd",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ba",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(msg.payload = 0 ? -0.01 : msg.payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 420,
        "wires": [
            [
                "effea666fd6300ab"
            ]
        ]
    },
    {
        "id": "effea666fd6300ab",
        "type": "join",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "7465cd70648e0ec0"
            ]
        ]
    },
    {
        "id": "7465cd70648e0ec0",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.bttf",
                "pt": "msg",
                "to": "(payload.bcah / payload.ba) * 60 * 60",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "bttf",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 460,
        "wires": [
            [
                "20afb562ad4dc09e"
            ]
        ]
    },
    {
        "id": "20afb562ad4dc09e",
        "type": "switch",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "property": "payload.ba",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 460,
        "wires": [
            [
                "678c2d045ecaecc6",
                "c489b877a783edd4"
            ],
            [
                "faa8d65f86c5c83c"
            ]
        ]
    },
    {
        "id": "678c2d045ecaecc6",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.bttf",
                "pt": "msg",
                "to": "$round($abs(payload.bttf))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 420,
        "wires": [
            [
                "040f6779bbafbcae"
            ]
        ]
    },
    {
        "id": "040f6779bbafbcae",
        "type": "humanizer",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "input": "bttf",
        "x": 1350,
        "y": 420,
        "wires": [
            [
                "99fe4a15f8e94e8a"
            ]
        ]
    },
    {
        "id": "91b8bb52f3d96da0",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 420,
        "wires": []
    },
    {
        "id": "ee81589423417d70",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humanized",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "btg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 280,
        "wires": [
            [
                "af76b5082a764a1e"
            ]
        ]
    },
    {
        "id": "af76b5082a764a1e",
        "type": "join",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1110,
        "y": 280,
        "wires": [
            [
                "be0779efea1468b3"
            ]
        ]
    },
    {
        "id": "be0779efea1468b3",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "($length(payload.btg) > 0 ? (payload.btg & \" \") : \"\") & payload.bttf",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 280,
        "wires": [
            [
                "8de0f31731dac937",
                "a5087df7f27490b2"
            ]
        ]
    },
    {
        "id": "faa8d65f86c5c83c",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "discharging",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 360,
        "wires": [
            [
                "af76b5082a764a1e"
            ]
        ]
    },
    {
        "id": "c489b877a783edd4",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "charging",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "➕",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 320,
        "wires": [
            [
                "af76b5082a764a1e"
            ]
        ]
    },
    {
        "id": "f6b8e7cfe2198a74",
        "type": "inject",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"humanized\":\"\"}",
        "payloadType": "json",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "ee81589423417d70"
            ]
        ]
    },
    {
        "id": "99fe4a15f8e94e8a",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humanized & \" to 100%\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 420,
        "wires": [
            [
                "91b8bb52f3d96da0"
            ]
        ]
    },
    {
        "id": "4678d0f8938dded2",
        "type": "inject",
        "z": "f8aa3235cf2ec5d8",
        "name": "On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 1560,
        "wires": [
            [
                "4aba53c8ecc5ba64"
            ]
        ]
    },
    {
        "id": "323ba4bb6a02455b",
        "type": "inject",
        "z": "f8aa3235cf2ec5d8",
        "name": "Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 130,
        "y": 1600,
        "wires": [
            [
                "4aba53c8ecc5ba64"
            ]
        ]
    },
    {
        "id": "4aba53c8ecc5ba64",
        "type": "victron-output-solarcharger",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.solarcharger/279",
        "path": "/Mode",
        "serviceObj": {
            "service": "com.victronenergy.solarcharger/279",
            "name": "2. Solar"
        },
        "pathObj": {
            "path": "/Mode",
            "type": "enum",
            "name": "Charger on/off",
            "enum": {
                "1": "On",
                "4": "Off"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "outputs": 0,
        "x": 330,
        "y": 1580,
        "wires": []
    },
    {
        "id": "f231abf29a762452",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "b5a02095750de218",
        "name": "LPG",
        "label": "",
        "order": 1,
        "chartType": "bar",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "topic",
        "xAxisPropertyType": "msg",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "yAxisPropertyType": "property",
        "ymin": "0",
        "ymax": "100",
        "bins": "",
        "action": "append",
        "stackSeries": true,
        "pointShape": "circle",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "3",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#ff2f92",
            "#ff2f92",
            "#ff40ff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "3",
        "className": "",
        "interpolation": "linear",
        "x": 1970,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "169681593f4ba96c",
        "type": "ui-template",
        "z": "f8aa3235cf2ec5d8",
        "group": "",
        "page": "",
        "ui": "718f5fabaac10b79",
        "name": "my CSS classes",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "div.my-row-span-3 {\n    grid-row-end: span 3;\n}\n\ndiv.my-chart-vertical-large {\n    height: 272px;\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 140,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "01b0874bb51dd445",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "3f46b93f98d0309b",
        "name": "LPG Sensor Battery Level",
        "label": "",
        "order": 1,
        "chartType": "bar",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "topic",
        "xAxisPropertyType": "msg",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "ymin": "0",
        "ymax": "100",
        "action": "append",
        "stackSeries": true,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0096ff",
            "#0096ff",
            "#0433ff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "3",
        "height": "6",
        "className": "",
        "x": 1730,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "985575374b7203b9",
        "type": "join",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1230,
        "y": 840,
        "wires": [
            [
                "111c598ba566e53c"
            ]
        ]
    },
    {
        "id": "111c598ba566e53c",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "sum",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Total",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "($lookup(payload, \"Tank 1 [%]\")) + ($lookup(payload, \"Tank 2 [%]\")) + 2",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 840,
        "wires": [
            [
                "f594c52153c1569a",
                "dc3cf8913664907c"
            ]
        ]
    },
    {
        "id": "f594c52153c1569a",
        "type": "delay",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1520,
        "y": 840,
        "wires": [
            [
                "14211c1fbfee9c71"
            ]
        ]
    },
    {
        "id": "14211c1fbfee9c71",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1710,
        "y": 840,
        "wires": [
            [
                "532f8cf32bd3497c"
            ]
        ]
    },
    {
        "id": "604cf414bf88090e",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "LPG ttg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2240,
        "y": 860,
        "wires": []
    },
    {
        "id": "fcaa3a6729bb96de",
        "type": "humanizer",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "input": "",
        "x": 2250,
        "y": 780,
        "wires": [
            [
                "ac0e4f80a45dfa0d",
                "a1e16f7256a0283c"
            ]
        ]
    },
    {
        "id": "ac0e4f80a45dfa0d",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "LPG ttg humanized",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.humanized",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2510,
        "y": 700,
        "wires": []
    },
    {
        "id": "75fdd7eb37877cc9",
        "type": "function",
        "z": "f8aa3235cf2ec5d8",
        "name": "compute rate of change",
        "func": "// prepare array to hold samples with timestamps\nvar samples = context.get(\"samples\") || [];\n\n// remember incoming sample and forget oldest sample\n// keep 60 samples, assuming one hour of history\n// when messages coming in at rate 1 per minute\nsamples.push({value: msg.payload, timestamp: Date.now()});\nif (samples.length > 60) {\n    samples.shift();\n}\n\n// store samples\ncontext.set(\"samples\", samples);\n\n// get oldest and newest sample\nlet previousSample = samples[0];\nlet currentSample = samples[samples.length - 1];\n\nmsg.previousSample = previousSample;\nmsg.currentSample = currentSample;\n\nmsg.difference = currentSample.value - previousSample.value;\nmsg.duration = currentSample.timestamp - previousSample.timestamp;\n\n// duration between oldest and newest sample\n// assume one hour if not enough samples collected\nvar duration = msg.duration; \nif (duration <= 0) {\n    duration = 60*60*1000;\n}\n\n// difference between oldest and newest sample\n// assume 1 percent per one hour if not enough samples collected\n// or if tanks being filled (positive difference)\nvar difference = msg.difference;\nif (difference >= 0) {\n    difference = duration / (60*60*1000) * -1;\n}\n\n// compute rate\nmsg.rate = 1000.0 * difference / duration;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 780,
        "wires": [
            [
                "a5e32179a5feb459",
                "e86322029b8c2163"
            ]
        ]
    },
    {
        "id": "bfdb4ad5f8fe8420",
        "type": "ui-text",
        "z": "f8aa3235cf2ec5d8",
        "group": "b5a02095750de218",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "LPG time to go",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#444444",
        "className": "",
        "x": 2700,
        "y": 780,
        "wires": []
    },
    {
        "id": "a1e16f7256a0283c",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humanized",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2500,
        "y": 780,
        "wires": [
            [
                "bfdb4ad5f8fe8420"
            ]
        ]
    },
    {
        "id": "a5e32179a5feb459",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 680,
        "wires": []
    },
    {
        "id": "dc3cf8913664907c",
        "type": "delay",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1520,
        "y": 780,
        "wires": [
            [
                "75fdd7eb37877cc9"
            ]
        ]
    },
    {
        "id": "e86322029b8c2163",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(-payload / rate)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 780,
        "wires": [
            [
                "604cf414bf88090e",
                "fcaa3a6729bb96de"
            ]
        ]
    },
    {
        "id": "667f394ce518b8ba",
        "type": "inject",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1820,
        "wires": [
            [
                "69b39a40c52afad9"
            ]
        ]
    },
    {
        "id": "69b39a40c52afad9",
        "type": "exec",
        "z": "f8aa3235cf2ec5d8",
        "command": "sudo ifconfig wlan0",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 1820,
        "wires": [
            [
                "516387728954b9a2"
            ],
            [
                "83aed9da24e9bf4c"
            ],
            []
        ]
    },
    {
        "id": "516387728954b9a2",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "stdout",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1740,
        "wires": []
    },
    {
        "id": "83aed9da24e9bf4c",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "stderr",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1820,
        "wires": []
    },
    {
        "id": "8af77dd47dc17a5b",
        "type": "ui-button",
        "z": "f8aa3235cf2ec5d8",
        "group": "cd19b507456e0ba2",
        "name": "",
        "label": "Restart Node RED",
        "order": 1,
        "width": "3",
        "height": "1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 1900,
        "wires": [
            [
                "66e3b99b036f7772"
            ]
        ]
    },
    {
        "id": "66e3b99b036f7772",
        "type": "exec",
        "z": "f8aa3235cf2ec5d8",
        "command": "sudo systemctl restart nodered",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 1900,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8f04377f41bef0f0",
        "type": "ui-button",
        "z": "f8aa3235cf2ec5d8",
        "group": "307616ec0e946b1f",
        "name": "",
        "label": "Restart Raspberry PI",
        "order": 1,
        "width": "3",
        "height": "1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1980,
        "wires": [
            [
                "2a73bfb3c94e7e05"
            ]
        ]
    },
    {
        "id": "2a73bfb3c94e7e05",
        "type": "exec",
        "z": "f8aa3235cf2ec5d8",
        "command": "sudo reboot",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 370,
        "y": 1980,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d882b23481b4bc02",
        "type": "ui-template",
        "z": "f8aa3235cf2ec5d8",
        "group": "ce04dc6721b53338",
        "page": "",
        "ui": "",
        "name": "Venus GUI v1",
        "order": 1,
        "width": "9",
        "height": "9",
        "head": "",
        "format": "<template>\n    <div style=\"padding:0;margin:0;height:415px;\">\n        <iframe id=\"xxx\" width=\"100%\" height=\"100%\" frameborder=\"0\" style=\"border: 0;\"></iframe>    </div>\n</template>\n<script>\n    export default {\n        mounted() {\n            document.getElementById(\"xxx\").src = 'http://' + window.location.hostname + \":80\"\n            document.getElementById(\"xxx\").focus()\n            document.querySelector(\".v-card-text\").style.setProperty('padding', '0');\n        }\n    }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "mman-no-padding",
        "x": 160,
        "y": 2660,
        "wires": [
            []
        ]
    },
    {
        "id": "792207cd5a0a23be",
        "type": "ui-gauge",
        "z": "f8aa3235cf2ec5d8",
        "name": "Battery SoC",
        "group": "184b464b9ef6e1e9",
        "order": 1,
        "width": 3,
        "height": "3",
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "",
        "units": "",
        "icon": "battery-high",
        "prefix": "",
        "suffix": "%",
        "segments": [
            {
                "from": "0",
                "color": "#0093ff"
            },
            {
                "from": "25",
                "color": "#0093ff"
            },
            {
                "from": "50",
                "color": "#0093ff"
            },
            {
                "from": "75",
                "color": "#0093ff"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": "20",
        "sizeGap": "0",
        "sizeKeyThickness": "0",
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1010,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "64fc114dd4fee87e",
        "type": "ui-button",
        "z": "f8aa3235cf2ec5d8",
        "group": "24cb15692531f81d",
        "name": "",
        "label": "OFF",
        "order": 1,
        "width": "1",
        "height": "1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 2060,
        "wires": [
            [
                "c0a2085271535236"
            ]
        ]
    },
    {
        "id": "c0a2085271535236",
        "type": "exec",
        "z": "f8aa3235cf2ec5d8",
        "command": "sudo nmcli connection down 4G",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 2060,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "44bc90b9f59ca48d",
        "type": "inject",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 2280,
        "wires": [
            [
                "8b577b52f92292fb",
                "f7fa1f90ac7dc8dc",
                "ff9a232bf595f192",
                "38a3057ab1638348"
            ]
        ]
    },
    {
        "id": "a4340be89d4fc662",
        "type": "ui-button",
        "z": "f8aa3235cf2ec5d8",
        "group": "24cb15692531f81d",
        "name": "",
        "label": "ON",
        "order": 2,
        "width": "1",
        "height": "1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 2140,
        "wires": [
            [
                "b6fbbc7f910721ed"
            ]
        ]
    },
    {
        "id": "b6fbbc7f910721ed",
        "type": "exec",
        "z": "f8aa3235cf2ec5d8",
        "command": "sudo nmcli connection up 4G",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 2140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "cdf5150b5243959a",
        "type": "ui-gauge",
        "z": "f8aa3235cf2ec5d8",
        "name": "PV Power",
        "group": "376dd725c0ba26d1",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "",
        "units": "",
        "icon": "white-balance-sunny",
        "prefix": "",
        "suffix": "%",
        "segments": [
            {
                "from": "0",
                "color": "#fe9300"
            },
            {
                "from": "25",
                "color": "#fe9300"
            },
            {
                "from": "50",
                "color": "#fe9300"
            },
            {
                "from": "75",
                "color": "#fe9300"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": "20",
        "sizeGap": "0",
        "sizeKeyThickness": "0",
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1000,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "05814746cc5df126",
        "type": "join",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1450,
        "y": 1400,
        "wires": [
            [
                "1f9bcb7614eac3b5",
                "3b247c9225ee8c19"
            ]
        ]
    },
    {
        "id": "1f9bcb7614eac3b5",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round((($lookup(msg.payload, 'Tank 1 [%]')) + ($lookup(msg.payload, 'Tank 2 [%]'))) / 2.0)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 1400,
        "wires": [
            [
                "0c929f0ddf548d2d",
                "cecae7b9de626341"
            ]
        ]
    },
    {
        "id": "3b247c9225ee8c19",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 1540,
        "wires": []
    },
    {
        "id": "0c929f0ddf548d2d",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 1460,
        "wires": []
    },
    {
        "id": "cecae7b9de626341",
        "type": "ui-gauge",
        "z": "f8aa3235cf2ec5d8",
        "name": "LPG",
        "group": "7cee520cf475db2a",
        "order": 1,
        "width": 3,
        "height": "3",
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "",
        "units": "",
        "icon": "gas-cylinder",
        "prefix": "",
        "suffix": "%",
        "segments": [
            {
                "from": "0",
                "color": "#ff2f92"
            },
            {
                "from": "25",
                "color": "#ff2f92"
            },
            {
                "from": "50",
                "color": "#ff2f92"
            },
            {
                "from": "75",
                "color": "#ff2f92"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": "20",
        "sizeGap": "0",
        "sizeKeyThickness": "0",
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1970,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "4fba035990245d4f",
        "type": "ui-radio-group",
        "z": "f8aa3235cf2ec5d8",
        "group": "ba338f1031239462",
        "name": "x",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "OFF",
                "value": 1,
                "type": "num"
            },
            {
                "label": "ON",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 490,
        "y": 60,
        "wires": [
            [
                "ac748dfed8bde63e"
            ]
        ]
    },
    {
        "id": "a5087df7f27490b2",
        "type": "ui-text",
        "z": "f8aa3235cf2ec5d8",
        "group": "184b464b9ef6e1e9",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "Battery time to go",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#444444",
        "className": "",
        "x": 1490,
        "y": 320,
        "wires": []
    },
    {
        "id": "9922455809324f67",
        "type": "ui-text",
        "z": "f8aa3235cf2ec5d8",
        "group": "376dd725c0ba26d1",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "PV Yield",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#444444",
        "className": "",
        "x": 800,
        "y": 980,
        "wires": []
    },
    {
        "id": "2c0e96d8cf637ca3",
        "type": "victron-input-system",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.system/0",
        "path": "/Dc/Battery/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Dc/Battery/State",
            "type": "enum",
            "name": "Battery state",
            "enum": {
                "0": "idle",
                "1": "charging",
                "2": "discharging"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "roundValues": "no",
        "outputs": 1,
        "x": 200,
        "y": 2500,
        "wires": [
            [
                "cec764c349531eb2",
                "f36517bb06513475"
            ]
        ]
    },
    {
        "id": "cec764c349531eb2",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 470,
        "y": 2520,
        "wires": [
            [
                "84b90e5f9c344fcf"
            ]
        ]
    },
    {
        "id": "319182fd132f707e",
        "type": "ui-template",
        "z": "f8aa3235cf2ec5d8",
        "group": "",
        "page": "",
        "ui": "718f5fabaac10b79",
        "name": "Top Right Status",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <Teleport v-if=\"mounted\" to=\"#app-bar-actions\">\n        <v-icon icon=\"mdi-water\" color=\"#ffffff55\"></v-icon>\n        <span color=\"#ffffff\" style=\"font-size: 1.25rem\">{{water_pump_temperature}} ºC</span>\n        &nbsp;&nbsp;\n        <v-icon icon=\"mdi-battery-high\" color=\"#ffffff55\"></v-icon>\n        <span color=\"#ffffff\" style=\"font-size: 1.25rem\">{{battery_temperature}} ºC</span>\n        &nbsp;&nbsp;\n        <v-icon icon=\"mdi-raspberry-pi\" color=\"#ffffff55\"></v-icon>\n        <span color=\"#ffffff\" style=\"font-size: 1.25rem\">{{cpu_temperature}} ºC</span>        \n        &nbsp;&nbsp;\n        <v-icon v-if=\"is_connected_to_wifi\" icon=\"mdi-wifi\" color=\"#ffffff\"></v-icon>\n        <v-icon v-if=\"is_connected_to_cellular\" icon=\"mdi-signal-cellular-3\" color=\"#ffffff\"></v-icon>\n        <v-icon v-if=\"!is_connected_to_venus\" icon=\"mdi-alert\" color=\"#ffffff\"></v-icon>\n        <v-icon v-if=\"!shelly_plus_uni_status\" icon=\"mdi-lock-off\" color=\"#ffffff\"></v-icon>\n        <v-icon v-if=\"!appletv_status\" icon=\"mdi-television-off\" color=\"#ffffff\"></v-icon>\n        &nbsp;&nbsp;\n    </Teleport>\n</template>\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false,\n                appletv_status: false,\n                shelly_plus_uni_status: false,\n                is_connected_to_wifi: false,\n                is_connected_to_cellular: false,\n                is_connected_to_venus: false,\n                cpu_temperature: \"0.0\",\n                battery_temperature: \"0.0\",\n                water_pump_temperature: \"0.0\"\n            }\n        },\n        mounted() {\n            this.mounted = true\n        },\n        watch: {\n            msg: function() {\n                this.appletv_status = this.msg.payload.appletv_status?.length > 0 ?? false\n                this.shelly_plus_uni_status = this.msg.payload.shelly_plus_uni_status?.length > 0 ?? false\n                this.is_connected_to_cellular = this.msg.payload.cellular_network_name?.length > 0 ?? false\n                this.is_connected_to_wifi = this.msg.payload.wifi_network_name?.length > 0 ?? false\n                this.is_connected_to_venus = this.msg.payload.is_alive ?? false\n                this.cpu_temperature = this.msg.payload.cpu_temperature ?? \"0.0\"\n                this.battery_temperature = this.msg.payload.battery_temperature ?? \"0.0\"\n                this.water_pump_temperature = this.msg.payload.water_pump_temperature ?? \"0.0\"\n            }\n        }\n    }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:ui",
        "className": "",
        "x": 1510,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "8b577b52f92292fb",
        "type": "exec",
        "z": "f8aa3235cf2ec5d8",
        "command": "nmcli device show usb0|grep 'GENERAL.CONNECTION'|cut -d : -f 2|xargs echo -n|sed -e 's/-//g'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 640,
        "y": 2320,
        "wires": [
            [
                "57da5168dfc70ada"
            ],
            [],
            []
        ]
    },
    {
        "id": "0d7ebe0bdd66bbb1",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 2500,
        "wires": []
    },
    {
        "id": "612a898d16eb12f2",
        "type": "inject",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2360,
        "wires": [
            [
                "8b577b52f92292fb",
                "f7fa1f90ac7dc8dc",
                "ff9a232bf595f192",
                "38a3057ab1638348"
            ]
        ]
    },
    {
        "id": "84b90e5f9c344fcf",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "is_alive",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "is_alive",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 2480,
        "wires": [
            [
                "f0ba03a41bd4a6cf"
            ]
        ]
    },
    {
        "id": "57da5168dfc70ada",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "cellular_network_name",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "cellular_network_name",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 2320,
        "wires": [
            [
                "f0ba03a41bd4a6cf"
            ]
        ]
    },
    {
        "id": "f0ba03a41bd4a6cf",
        "type": "join",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1310,
        "y": 2440,
        "wires": [
            [
                "319182fd132f707e",
                "0d7ebe0bdd66bbb1"
            ]
        ]
    },
    {
        "id": "970ecf49dc2ea1ee",
        "type": "ui-template",
        "z": "f8aa3235cf2ec5d8",
        "group": "066f91ffe1f81631",
        "page": "",
        "ui": "",
        "name": "Venus GUI v2",
        "order": 1,
        "width": "9",
        "height": "9",
        "head": "",
        "format": "<template>\n    <div style=\"padding:0;margin:0;height:415px;\">\n        <iframe id=\"xxx\" width=\"100%\" height=\"100%\" frameborder=\"0\" style=\"border: 0;\"></iframe>\n    </div>\n</template>\n<script>\n    export default {\n        mounted() {\n            document.getElementById(\"xxx\").src = 'http://' + window.location.hostname + \":80/gui-v2\"\n            document.getElementById(\"xxx\").focus()\n            document.querySelector(\".v-card-text\").style.setProperty('padding', '0');        \n        }\n    }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "mman-no-padding",
        "x": 160,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "0e4a9b7f6973a509",
        "type": "ui-template",
        "z": "f8aa3235cf2ec5d8",
        "group": "9572caa4c78b4484",
        "page": "",
        "ui": "",
        "name": "Venus HTML5 App",
        "order": 1,
        "width": "9",
        "height": "9",
        "head": "",
        "format": "<template>\n    <div style=\"padding:0;margin:0;height:415px;\">\n        <iframe id=\"xxx\" width=\"100%\" height=\"100%\" frameborder=\"0\" style=\"border: 0;\"></iframe>    </div>\n</template>\n<script>\n    export default {\n        mounted() {\n            document.getElementById(\"xxx\").src = 'http://' + window.location.hostname + \":80/app\"\n            document.getElementById(\"xxx\").focus()\n            document.querySelector(\".v-card-text\").style.setProperty('padding', '0');        \n        }\n    }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "mman-no-padding",
        "x": 170,
        "y": 2780,
        "wires": [
            []
        ]
    },
    {
        "id": "f36517bb06513475",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 2460,
        "wires": [
            [
                "84b90e5f9c344fcf"
            ]
        ]
    },
    {
        "id": "6d72c96e46b26bbc",
        "type": "exec",
        "z": "f8aa3235cf2ec5d8",
        "command": "vcgencmd measure_temp | cut -d = -f 2 | cut -d \\' -f 1 | xargs echo -n",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 570,
        "y": 2880,
        "wires": [
            [
                "e072109cfb873318",
                "08d71e4cfde08fe9",
                "7c326f3a737a60dc"
            ],
            [],
            []
        ]
    },
    {
        "id": "3e24d1340e8327c9",
        "type": "inject",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2880,
        "wires": [
            [
                "6d72c96e46b26bbc"
            ]
        ]
    },
    {
        "id": "e072109cfb873318",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "cpu_temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1090,
        "y": 2860,
        "wires": []
    },
    {
        "id": "08d71e4cfde08fe9",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "cpu_temperature",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "cpu_temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2560,
        "wires": [
            [
                "f0ba03a41bd4a6cf"
            ]
        ]
    },
    {
        "id": "93a8c4d27f4844b1",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "battery_temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1080,
        "y": 3000,
        "wires": []
    },
    {
        "id": "0cddfe52496e0802",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "battery_temperature",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "battery_temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 2620,
        "wires": [
            [
                "f0ba03a41bd4a6cf"
            ]
        ]
    },
    {
        "id": "128facc634b30ebb",
        "type": "victron-input-vebus",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.vebus/276",
        "path": "/Dc/0/Temperature",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "Multiplus",
            "communityTag": "vebus"
        },
        "pathObj": {
            "path": "/Dc/0/Temperature",
            "type": "float",
            "name": "Battery temperature (°C)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "1",
        "outputs": 1,
        "conditionalMode": false,
        "outputTrue": "",
        "outputFalse": "",
        "debounce": "",
        "x": 200,
        "y": 3000,
        "wires": [
            [
                "93a8c4d27f4844b1",
                "0cddfe52496e0802",
                "8c8a117b2aa58552",
                "c24814e091735bfa"
            ]
        ]
    },
    {
        "id": "2a178e00f440797f",
        "type": "BLE Scan",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "268c6564a8a5c0cf"
            ]
        ]
    },
    {
        "id": "054880e8228c6dba",
        "type": "victron-input-temperature",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.temperature/24",
        "path": "/Temperature",
        "serviceObj": {
            "service": "com.victronenergy.temperature/24",
            "name": "Water Pump",
            "communityTag": "temperature"
        },
        "pathObj": {
            "path": "/Temperature",
            "type": "float",
            "name": "Temperature (°C)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "1",
        "outputs": 1,
        "conditionalMode": false,
        "outputTrue": "",
        "outputFalse": "",
        "debounce": "",
        "x": 190,
        "y": 3100,
        "wires": [
            [
                "6cca4289cba7847c",
                "9385f51bc3383276",
                "0c12b0ce814b5f25",
                "72555ae248067897"
            ]
        ]
    },
    {
        "id": "6cca4289cba7847c",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "water_pump_temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1090,
        "y": 3100,
        "wires": []
    },
    {
        "id": "9385f51bc3383276",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "water_pump_temperature",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "water_pump_temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 2680,
        "wires": [
            [
                "f0ba03a41bd4a6cf"
            ]
        ]
    },
    {
        "id": "4d0f5f2a7008c756",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "cc",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1320,
        "wires": []
    },
    {
        "id": "bc8b5fc2957fd942",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "other",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.address",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1360,
        "wires": []
    },
    {
        "id": "ed1cb184d7fc4269",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Water Pump",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 3200,
        "wires": [
            [
                "ac8954fd52b8e9dd"
            ]
        ]
    },
    {
        "id": "ac8954fd52b8e9dd",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "239c72cc7c0270f1",
        "name": "Temperature History",
        "label": "",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "HH:mm",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "yAxisPropertyType": "property",
        "ymin": "-10",
        "ymax": "70",
        "bins": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "line",
        "pointRadius": "1",
        "showLegend": true,
        "removeOlder": "2",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#9467bd",
            "#0096ff",
            "#2ca02c",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "9",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1360,
        "y": 3200,
        "wires": [
            []
        ]
    },
    {
        "id": "0d842844197d17cc",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Battery",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 3260,
        "wires": [
            [
                "ac8954fd52b8e9dd"
            ]
        ]
    },
    {
        "id": "0a60c703b432a505",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Raspberry PI",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 3320,
        "wires": [
            []
        ]
    },
    {
        "id": "0c12b0ce814b5f25",
        "type": "delay",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 3200,
        "wires": [
            [
                "153df6a5d3fc8bd7"
            ]
        ]
    },
    {
        "id": "153df6a5d3fc8bd7",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 3200,
        "wires": [
            [
                "ed1cb184d7fc4269"
            ]
        ]
    },
    {
        "id": "8c8a117b2aa58552",
        "type": "delay",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 3260,
        "wires": [
            [
                "f7b5262cb76848b6"
            ]
        ]
    },
    {
        "id": "f7b5262cb76848b6",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 3260,
        "wires": [
            [
                "0d842844197d17cc"
            ]
        ]
    },
    {
        "id": "7c326f3a737a60dc",
        "type": "delay",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 3320,
        "wires": [
            [
                "947aa7d6f6f9c062"
            ]
        ]
    },
    {
        "id": "947aa7d6f6f9c062",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 3320,
        "wires": [
            [
                "0a60c703b432a505"
            ]
        ]
    },
    {
        "id": "a7e943b36d7cc78b",
        "type": "ui-template",
        "z": "f8aa3235cf2ec5d8",
        "group": "",
        "page": "",
        "ui": "718f5fabaac10b79",
        "name": "disable tooltips",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "/* Hide all eCharts tooltips */\n.echarts-tooltip,\ndiv[class*=\"tooltip\"],\n[class*=\"echarts\"] div[style*=\"pointer-events\"] {\n    display: none !important;\n    visibility: hidden !important;\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 140,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "ac7f79599b890781",
        "type": "inject",
        "z": "f8aa3235cf2ec5d8",
        "name": "disable tooltips",
        "props": [
            {
                "p": "ui_update",
                "v": "{\"chartOptions\":{\"tooltip\":{\"show\":false},\"animation\":false}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 160,
        "y": 1300,
        "wires": [
            [
                "619828c0ffc1133a",
                "84ce4ebacee923fb",
                "eb5df2a9ca8827ca",
                "e61b8f69af82c175",
                "f03c525355fcc6f1",
                "09ab40b0d2fb0867",
                "f089c972a639d0e8",
                "76e81974ab2ff53b",
                "b12ba91b5d1390f4"
            ]
        ]
    },
    {
        "id": "619828c0ffc1133a",
        "type": "link out",
        "z": "f8aa3235cf2ec5d8",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "5abca726384ceb1d"
        ],
        "x": 275,
        "y": 1300,
        "wires": []
    },
    {
        "id": "5abca726384ceb1d",
        "type": "link in",
        "z": "f8aa3235cf2ec5d8",
        "name": "link in 1",
        "links": [
            "619828c0ffc1133a"
        ],
        "x": 1885,
        "y": 1360,
        "wires": [
            [
                "cecae7b9de626341"
            ]
        ]
    },
    {
        "id": "84ce4ebacee923fb",
        "type": "link out",
        "z": "f8aa3235cf2ec5d8",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "f5646d80965775d9"
        ],
        "x": 275,
        "y": 1300,
        "wires": []
    },
    {
        "id": "f5646d80965775d9",
        "type": "link in",
        "z": "f8aa3235cf2ec5d8",
        "name": "link in 2",
        "links": [
            "84ce4ebacee923fb"
        ],
        "x": 1885,
        "y": 1260,
        "wires": [
            [
                "f231abf29a762452"
            ]
        ]
    },
    {
        "id": "eb5df2a9ca8827ca",
        "type": "link out",
        "z": "f8aa3235cf2ec5d8",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "50c6a1aa765d2434"
        ],
        "x": 275,
        "y": 1300,
        "wires": []
    },
    {
        "id": "50c6a1aa765d2434",
        "type": "link in",
        "z": "f8aa3235cf2ec5d8",
        "name": "link in 3",
        "links": [
            "eb5df2a9ca8827ca"
        ],
        "x": 1565,
        "y": 1180,
        "wires": [
            [
                "01b0874bb51dd445"
            ]
        ]
    },
    {
        "id": "e61b8f69af82c175",
        "type": "link out",
        "z": "f8aa3235cf2ec5d8",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "e9f186952b9dde6a"
        ],
        "x": 275,
        "y": 1300,
        "wires": []
    },
    {
        "id": "e9f186952b9dde6a",
        "type": "link in",
        "z": "f8aa3235cf2ec5d8",
        "name": "link in 4",
        "links": [
            "e61b8f69af82c175"
        ],
        "x": 1785,
        "y": 880,
        "wires": [
            [
                "532f8cf32bd3497c"
            ]
        ]
    },
    {
        "id": "f03c525355fcc6f1",
        "type": "link out",
        "z": "f8aa3235cf2ec5d8",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "e727e1298425da0a"
        ],
        "x": 275,
        "y": 1300,
        "wires": []
    },
    {
        "id": "e727e1298425da0a",
        "type": "link in",
        "z": "f8aa3235cf2ec5d8",
        "name": "link in 5",
        "links": [
            "f03c525355fcc6f1"
        ],
        "x": 785,
        "y": 620,
        "wires": [
            [
                "ab9594709675199f"
            ]
        ]
    },
    {
        "id": "09ab40b0d2fb0867",
        "type": "link out",
        "z": "f8aa3235cf2ec5d8",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "832bcea62f5866a2"
        ],
        "x": 275,
        "y": 1300,
        "wires": []
    },
    {
        "id": "832bcea62f5866a2",
        "type": "link in",
        "z": "f8aa3235cf2ec5d8",
        "name": "link in 6",
        "links": [
            "09ab40b0d2fb0867"
        ],
        "x": 785,
        "y": 740,
        "wires": [
            [
                "67b30e90fc149ad2"
            ]
        ]
    },
    {
        "id": "f089c972a639d0e8",
        "type": "link out",
        "z": "f8aa3235cf2ec5d8",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "18123c339a8141c5"
        ],
        "x": 275,
        "y": 1300,
        "wires": []
    },
    {
        "id": "18123c339a8141c5",
        "type": "link in",
        "z": "f8aa3235cf2ec5d8",
        "name": "link in 7",
        "links": [
            "f089c972a639d0e8"
        ],
        "x": 665,
        "y": 800,
        "wires": [
            [
                "c8c2033f38bb673a"
            ]
        ]
    },
    {
        "id": "76e81974ab2ff53b",
        "type": "link out",
        "z": "f8aa3235cf2ec5d8",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "6160881a88975b80"
        ],
        "x": 275,
        "y": 1300,
        "wires": []
    },
    {
        "id": "6160881a88975b80",
        "type": "link in",
        "z": "f8aa3235cf2ec5d8",
        "name": "link in 8",
        "links": [
            "76e81974ab2ff53b"
        ],
        "x": 665,
        "y": 900,
        "wires": [
            [
                "2dbf19b7bcaa6a45"
            ]
        ]
    },
    {
        "id": "b12ba91b5d1390f4",
        "type": "link out",
        "z": "f8aa3235cf2ec5d8",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "2d3e19c444d5340e"
        ],
        "x": 275,
        "y": 1300,
        "wires": []
    },
    {
        "id": "2d3e19c444d5340e",
        "type": "link in",
        "z": "f8aa3235cf2ec5d8",
        "name": "link in 9",
        "links": [
            "b12ba91b5d1390f4"
        ],
        "x": 1215,
        "y": 3180,
        "wires": [
            [
                "ac8954fd52b8e9dd"
            ]
        ]
    },
    {
        "id": "f7fa1f90ac7dc8dc",
        "type": "exec",
        "z": "f8aa3235cf2ec5d8",
        "command": "nmcli device show wlan0|grep 'GENERAL.CONNECTION'|cut -d : -f 2|xargs echo -n|sed -e 's/-//g'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 640,
        "y": 2380,
        "wires": [
            [
                "371cbc4d4fb9aa9d"
            ],
            [],
            []
        ]
    },
    {
        "id": "371cbc4d4fb9aa9d",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "wifi_network_name",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "wifi_network_name",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2380,
        "wires": [
            [
                "f0ba03a41bd4a6cf"
            ]
        ]
    },
    {
        "id": "ff9a232bf595f192",
        "type": "exec",
        "z": "f8aa3235cf2ec5d8",
        "command": "iw dev wlan0 station dump|grep 78:42:1c:54:6a:58|xargs echo -n|sed -e 's/-//g'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 580,
        "y": 2260,
        "wires": [
            [
                "8694c4bb95fb997d"
            ],
            [],
            []
        ]
    },
    {
        "id": "8694c4bb95fb997d",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "shelly_plus_uni_status",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "shelly_plus_uni_status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 2260,
        "wires": [
            [
                "f0ba03a41bd4a6cf"
            ]
        ]
    },
    {
        "id": "38a3057ab1638348",
        "type": "exec",
        "z": "f8aa3235cf2ec5d8",
        "command": "iw dev wlan0 station dump|grep c8:69:cd:03:64:af|xargs echo -n|sed -e 's/-//g'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 580,
        "y": 2200,
        "wires": [
            [
                "28ebcaa84c126681"
            ],
            [],
            []
        ]
    },
    {
        "id": "28ebcaa84c126681",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "appletv_status",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "appletv_status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 2200,
        "wires": [
            [
                "f0ba03a41bd4a6cf"
            ]
        ]
    },
    {
        "id": "ae706110288b4fdb",
        "type": "homekit-service",
        "z": "f8aa3235cf2ec5d8",
        "isParent": true,
        "hostType": "0",
        "bridge": "17ca444f2390bfbd",
        "accessoryId": "",
        "parentService": "",
        "name": "Water Pump",
        "serviceName": "TemperatureSensor",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.7.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.7.3",
        "hardwareRev": "1.7.3",
        "softwareRev": "1.7.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "adaptiveLightingOptionsEnable": false,
        "adaptiveLightingOptionsCustomTemperatureAdjustment": "",
        "x": 1490,
        "y": 3100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "96f6e4d46651809f",
        "type": "homekit-service",
        "z": "f8aa3235cf2ec5d8",
        "isParent": true,
        "hostType": "0",
        "bridge": "17ca444f2390bfbd",
        "accessoryId": "",
        "parentService": "",
        "name": "Battery",
        "serviceName": "TemperatureSensor",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.7.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.7.3",
        "hardwareRev": "1.7.3",
        "softwareRev": "1.7.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "adaptiveLightingOptionsEnable": false,
        "adaptiveLightingOptionsCustomTemperatureAdjustment": "",
        "x": 1480,
        "y": 3000,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c24814e091735bfa",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"CurrentTemperature\": payload}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 3000,
        "wires": [
            [
                "96f6e4d46651809f"
            ]
        ]
    },
    {
        "id": "72555ae248067897",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"CurrentTemperature\": payload}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 3100,
        "wires": [
            [
                "ae706110288b4fdb"
            ]
        ]
    },
    {
        "id": "3ca7dc0ea32d71de",
        "type": "homekit-service",
        "z": "2a88d4a90841add0",
        "d": true,
        "isParent": true,
        "hostType": "0",
        "bridge": "17ca444f2390bfbd",
        "accessoryId": "",
        "parentService": "",
        "name": "Door Lock",
        "serviceName": "LockMechanism",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.7.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.7.3",
        "hardwareRev": "1.7.3",
        "softwareRev": "1.7.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "adaptiveLightingOptionsEnable": false,
        "adaptiveLightingOptionsCustomTemperatureAdjustment": "",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "f850033a2088845c"
            ],
            []
        ]
    },
    {
        "id": "aa870e03bca3d976",
        "type": "homekit-service",
        "z": "2a88d4a90841add0",
        "d": true,
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "3ca7dc0ea32d71de",
        "name": "Door",
        "serviceName": "ContactSensor",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.7.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.7.3",
        "hardwareRev": "1.7.3",
        "softwareRev": "1.7.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "adaptiveLightingOptionsEnable": false,
        "adaptiveLightingOptionsCustomTemperatureAdjustment": "",
        "x": 530,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1ab197ca47ebd58d",
        "type": "inject",
        "z": "2a88d4a90841add0",
        "name": "Set Locked",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"LockCurrentState\":1,\"LockTargetState\":1}",
        "payloadType": "json",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "3ca7dc0ea32d71de",
                "9cf3204feb1f2376"
            ]
        ]
    },
    {
        "id": "0ae448e557952e15",
        "type": "inject",
        "z": "2a88d4a90841add0",
        "name": "Set Unlocked",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"LockCurrentState\":0,\"LockTargetState\":0}",
        "payloadType": "json",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "3ca7dc0ea32d71de",
                "9cf3204feb1f2376"
            ]
        ]
    },
    {
        "id": "d1bfa9ce4707977a",
        "type": "inject",
        "z": "2a88d4a90841add0",
        "name": "Set Closed",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ContactSensorState\":0}",
        "payloadType": "json",
        "x": 260,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2846fbced22b0b5b",
        "type": "inject",
        "z": "2a88d4a90841add0",
        "name": "Set Open",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ContactSensorState\":1}",
        "payloadType": "json",
        "x": 260,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f850033a2088845c",
        "type": "switch",
        "z": "2a88d4a90841add0",
        "name": "HK request?",
        "property": "hap",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "b228e3cc0901541d",
                "11573f6903e2e46d"
            ]
        ]
    },
    {
        "id": "b228e3cc0901541d",
        "type": "debug",
        "z": "2a88d4a90841add0",
        "name": "payload.LockTargetState",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.LockTargetState",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1110,
        "y": 280,
        "wires": []
    },
    {
        "id": "8348269b1a9fe7b0",
        "type": "shelly-gen2",
        "z": "2a88d4a90841add0",
        "hostname": "192.168.43.3",
        "description": "Shelly Plus Uni Door Lock",
        "mode": "polling",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": "10000",
        "pollstatus": true,
        "getstatusoncommand": true,
        "devicetype": "SNSN-0043X",
        "devicetypemustmatchexactly": true,
        "captureblutooth": false,
        "outputs": 1,
        "x": 810,
        "y": 760,
        "wires": [
            [
                "f56eb11862011bdb",
                "d6655abcda1a48a5"
            ]
        ]
    },
    {
        "id": "f56eb11862011bdb",
        "type": "debug",
        "z": "2a88d4a90841add0",
        "name": "Voltmeter",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.voltmeter100",
        "targetType": "msg",
        "statusVal": "payload.voltmeter100",
        "statusType": "msg",
        "x": 1060,
        "y": 820,
        "wires": []
    },
    {
        "id": "404524ffbe11c3dc",
        "type": "change",
        "z": "2a88d4a90841add0",
        "name": "Trigger Output 0 (450ms)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"Switch.Set\",\"parameters\":{\"id\":0,\"on\":true}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 680,
        "wires": [
            [
                "8348269b1a9fe7b0"
            ]
        ]
    },
    {
        "id": "79ba4b72ccf00ab0",
        "type": "change",
        "z": "2a88d4a90841add0",
        "name": "Trigger Output 0 (250ms)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"Switch.Set\",\"parameters\":{\"id\":0,\"on\":true,\"toggle_after\":0.25}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 860,
        "wires": [
            [
                "8348269b1a9fe7b0"
            ]
        ]
    },
    {
        "id": "0f1d8345cab84ed0",
        "type": "comment",
        "z": "2a88d4a90841add0",
        "name": "Output 0 - Lock signal to Door",
        "info": "Input 0 - Lock signal from BCM\nInput 1 - Unlock signal from BCM\n\nVoltmeter ~ 0.2V - Door Closed\nVoltmeter ~ 2.9V - Door Open\n\nOutput 0 -> Lock signal to door actuator\nOutput 1 -> Unlock signal to door actuator",
        "x": 640,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d2db8b1de3b1aea9",
        "type": "comment",
        "z": "2a88d4a90841add0",
        "name": "Output 1 - Unlock signal to Door",
        "info": "Input 0 - Lock signal from BCM\nInput 1 - Unlock signal from BCM\n\nVoltmeter ~ 0.2V - Door Closed\nVoltmeter ~ 2.9V - Door Open\n\nOutput 0 -> Lock signal to door actuator\nOutput 1 -> Unlock signal to door actuator",
        "x": 650,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d1c4f55dd6ffd867",
        "type": "comment",
        "z": "2a88d4a90841add0",
        "name": "Voltmeter ~ 0.2V (Door Closed) ~ 2.9V (Door Open)",
        "info": "Input 0 - Lock signal from BCM\nInput 1 - Unlock signal from BCM\n\nVoltmeter ~ 0.2V - Door Closed\nVoltmeter ~ 2.9V - Door Open\n\nOutput 0 -> Lock signal to door actuator\nOutput 1 -> Unlock signal to door actuator",
        "x": 710,
        "y": 1240,
        "wires": []
    },
    {
        "id": "5c945dfc85550880",
        "type": "comment",
        "z": "2a88d4a90841add0",
        "name": "Output 0 -> Lock signal to door actuator",
        "info": "Input 0 - Lock signal from BCM\nInput 1 - Unlock signal from BCM\n\nVoltmeter ~ 0.2V - Door Closed\nVoltmeter ~ 2.9V - Door Open\n\nOutput 0 -> Lock signal to door actuator\nOutput 1 -> Unlock signal to door actuator",
        "x": 280,
        "y": 640,
        "wires": []
    },
    {
        "id": "1c4c20944d0b9d6a",
        "type": "comment",
        "z": "2a88d4a90841add0",
        "name": "Output 1 -> Double Unlock signal to door actuator",
        "info": "Input 0 - Lock signal from BCM\nInput 1 - Unlock signal from BCM\n\nVoltmeter ~ 0.2V - Door Closed\nVoltmeter ~ 2.9V - Door Open\n\nOutput 0 -> Lock signal to door actuator\nOutput 1 -> Unlock signal to door actuator",
        "x": 310,
        "y": 800,
        "wires": []
    },
    {
        "id": "01d3977f867595b0",
        "type": "aedes broker",
        "z": "2a88d4a90841add0",
        "name": "",
        "mqtt_port": "1885",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "persist_to_file": false,
        "usetls": false,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "3c1422c05970b968"
            ],
            [
                "14178ea3d50f729b"
            ]
        ]
    },
    {
        "id": "3c1422c05970b968",
        "type": "debug",
        "z": "2a88d4a90841add0",
        "name": "MQTT Events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "14178ea3d50f729b",
        "type": "debug",
        "z": "2a88d4a90841add0",
        "name": "MQTT Publish",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "4d2dfc331127239a",
        "type": "mqtt in",
        "z": "2a88d4a90841add0",
        "name": "",
        "topic": "shellyplusuni-78421c546a58/events/rpc",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "99f2f06b3ac0711d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "5011a442e14c971b",
                "d782ac5debea852c",
                "322c37971a56c6f0",
                "7548cfc5c6c3f93e"
            ]
        ]
    },
    {
        "id": "5011a442e14c971b",
        "type": "debug",
        "z": "2a88d4a90841add0",
        "name": "MQTT RPC",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d782ac5debea852c",
        "type": "switch",
        "z": "2a88d4a90841add0",
        "name": "Output 0 ?",
        "property": "payload.params[\"switch:0\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 1100,
        "wires": [
            [
                "ee6c707d0b31825d",
                "dcba29cfc083d2e0"
            ]
        ]
    },
    {
        "id": "322c37971a56c6f0",
        "type": "switch",
        "z": "2a88d4a90841add0",
        "name": "Output 1 ?",
        "property": "payload.params[\"switch:1\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 1200,
        "wires": [
            [
                "4dc7c92ac6e206be",
                "348ce087e26ee668"
            ]
        ]
    },
    {
        "id": "ee6c707d0b31825d",
        "type": "debug",
        "z": "2a88d4a90841add0",
        "name": "MQTT RPC INPUT 0",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.params",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 1100,
        "wires": []
    },
    {
        "id": "4dc7c92ac6e206be",
        "type": "debug",
        "z": "2a88d4a90841add0",
        "name": "MQTT RPC INPUT 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.params",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 1200,
        "wires": []
    },
    {
        "id": "8d5a4afaeb03f5ae",
        "type": "homekit-service",
        "z": "2a88d4a90841add0",
        "isParent": true,
        "hostType": "0",
        "bridge": "17ca444f2390bfbd",
        "accessoryId": "",
        "parentService": "",
        "name": "Door",
        "serviceName": "ContactSensor",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.7.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.7.3",
        "hardwareRev": "1.7.3",
        "softwareRev": "1.7.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "adaptiveLightingOptionsEnable": false,
        "adaptiveLightingOptionsCustomTemperatureAdjustment": "",
        "x": 530,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9cf3204feb1f2376",
        "type": "homekit-service",
        "z": "2a88d4a90841add0",
        "isParent": false,
        "hostType": "0",
        "bridge": "",
        "accessoryId": "",
        "parentService": "8d5a4afaeb03f5ae",
        "name": "Door Lock",
        "serviceName": "LockMechanism",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.7.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.7.3",
        "hardwareRev": "1.7.3",
        "softwareRev": "1.7.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "adaptiveLightingOptionsEnable": false,
        "adaptiveLightingOptionsCustomTemperatureAdjustment": "",
        "x": 550,
        "y": 520,
        "wires": [
            [
                "7ece1a92889333c8"
            ],
            []
        ]
    },
    {
        "id": "d6655abcda1a48a5",
        "type": "switch",
        "z": "2a88d4a90841add0",
        "name": "closed?",
        "property": "payload.voltmeter100.voltage",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "1.5",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "1.5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1060,
        "y": 760,
        "wires": [
            [
                "1a2d1d71e5a9345d"
            ],
            [
                "8df01522a53152ed"
            ]
        ]
    },
    {
        "id": "1a2d1d71e5a9345d",
        "type": "change",
        "z": "2a88d4a90841add0",
        "name": "set door is closed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"ContactSensorState\":0}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "isDoorClosed",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 720,
        "wires": [
            [
                "19f2936a38cd1dae",
                "d0fd794f77a3449d",
                "6ec0e5599a2f81f5"
            ]
        ]
    },
    {
        "id": "8df01522a53152ed",
        "type": "change",
        "z": "2a88d4a90841add0",
        "name": "set door is open",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"ContactSensorState\":1}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "isDoorClosed",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 800,
        "wires": [
            [
                "5878980fa488a0c5",
                "01d07f2c2b5b6368",
                "0fcd7ad877a1d3f3",
                "348ce087e26ee668"
            ]
        ]
    },
    {
        "id": "19f2936a38cd1dae",
        "type": "link out",
        "z": "2a88d4a90841add0",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "66b1c47a4574c896"
        ],
        "x": 1455,
        "y": 740,
        "wires": []
    },
    {
        "id": "66b1c47a4574c896",
        "type": "link in",
        "z": "2a88d4a90841add0",
        "name": "link in 10",
        "links": [
            "19f2936a38cd1dae"
        ],
        "x": 425,
        "y": 340,
        "wires": [
            [
                "aa870e03bca3d976"
            ]
        ]
    },
    {
        "id": "d0fd794f77a3449d",
        "type": "link out",
        "z": "2a88d4a90841add0",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "ca8f5a997407e44b"
        ],
        "x": 1455,
        "y": 700,
        "wires": []
    },
    {
        "id": "ca8f5a997407e44b",
        "type": "link in",
        "z": "2a88d4a90841add0",
        "name": "link in 11",
        "links": [
            "d0fd794f77a3449d"
        ],
        "x": 425,
        "y": 420,
        "wires": [
            [
                "8d5a4afaeb03f5ae"
            ]
        ]
    },
    {
        "id": "5878980fa488a0c5",
        "type": "link out",
        "z": "2a88d4a90841add0",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "09cc8309bae57b4a"
        ],
        "x": 1455,
        "y": 780,
        "wires": []
    },
    {
        "id": "09cc8309bae57b4a",
        "type": "link in",
        "z": "2a88d4a90841add0",
        "name": "link in 12",
        "links": [
            "5878980fa488a0c5"
        ],
        "x": 425,
        "y": 380,
        "wires": [
            [
                "aa870e03bca3d976"
            ]
        ]
    },
    {
        "id": "01d07f2c2b5b6368",
        "type": "link out",
        "z": "2a88d4a90841add0",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "c934600eb3a90a0f"
        ],
        "x": 1455,
        "y": 820,
        "wires": []
    },
    {
        "id": "c934600eb3a90a0f",
        "type": "link in",
        "z": "2a88d4a90841add0",
        "name": "link in 13",
        "links": [
            "01d07f2c2b5b6368"
        ],
        "x": 425,
        "y": 460,
        "wires": [
            [
                "8d5a4afaeb03f5ae"
            ]
        ]
    },
    {
        "id": "7ece1a92889333c8",
        "type": "switch",
        "z": "2a88d4a90841add0",
        "name": "HK request?",
        "property": "hap",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 520,
        "wires": [
            [
                "e16df26b6238e4f5",
                "11573f6903e2e46d"
            ]
        ]
    },
    {
        "id": "e16df26b6238e4f5",
        "type": "debug",
        "z": "2a88d4a90841add0",
        "name": "payload.LockTargetState",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.LockTargetState",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1110,
        "y": 520,
        "wires": []
    },
    {
        "id": "11573f6903e2e46d",
        "type": "switch",
        "z": "2a88d4a90841add0",
        "name": "Examine LockTargetState",
        "property": "payload.LockTargetState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 400,
        "wires": [
            [
                "7c2ad1585013fe3d"
            ],
            [
                "4e4b045b58a14a42"
            ]
        ]
    },
    {
        "id": "6ec0e5599a2f81f5",
        "type": "debug",
        "z": "2a88d4a90841add0",
        "name": "setting door to closed",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.ContactSensorState",
        "statusType": "msg",
        "x": 1640,
        "y": 720,
        "wires": []
    },
    {
        "id": "0fcd7ad877a1d3f3",
        "type": "debug",
        "z": "2a88d4a90841add0",
        "name": "setting door to open",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.ContactSensorState",
        "statusType": "msg",
        "x": 1640,
        "y": 800,
        "wires": []
    },
    {
        "id": "4e4b045b58a14a42",
        "type": "link out",
        "z": "2a88d4a90841add0",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "c3eddb2c7c363eb0"
        ],
        "x": 1185,
        "y": 420,
        "wires": []
    },
    {
        "id": "c3eddb2c7c363eb0",
        "type": "link in",
        "z": "2a88d4a90841add0",
        "name": "link in 14",
        "links": [
            "4e4b045b58a14a42"
        ],
        "x": 115,
        "y": 700,
        "wires": [
            [
                "4fa1de72ab05c96a"
            ]
        ]
    },
    {
        "id": "7c2ad1585013fe3d",
        "type": "link out",
        "z": "2a88d4a90841add0",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "d0b3c0873590eca8"
        ],
        "x": 1185,
        "y": 380,
        "wires": []
    },
    {
        "id": "d0b3c0873590eca8",
        "type": "link in",
        "z": "2a88d4a90841add0",
        "name": "link in 15",
        "links": [
            "7c2ad1585013fe3d"
        ],
        "x": 115,
        "y": 860,
        "wires": [
            [
                "79ba4b72ccf00ab0",
                "b3d563490fb8c5b5",
                "1df511e3f4c3c225"
            ]
        ]
    },
    {
        "id": "ef1dde894ee5564f",
        "type": "change",
        "z": "2a88d4a90841add0",
        "name": "set door to locked",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"LockCurrentState\":1,\"LockTargetState\":1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1000,
        "wires": [
            [
                "9978e9fbd7133703",
                "b3be2bb2402df40c"
            ]
        ]
    },
    {
        "id": "348ce087e26ee668",
        "type": "change",
        "z": "2a88d4a90841add0",
        "name": "set door to unlocked",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"LockCurrentState\":0,\"LockTargetState\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 1100,
        "wires": [
            [
                "53583013d4c938c2",
                "b3be2bb2402df40c"
            ]
        ]
    },
    {
        "id": "7548cfc5c6c3f93e",
        "type": "switch",
        "z": "2a88d4a90841add0",
        "name": "Voltmeter 100 ?",
        "property": "payload.params[\"voltmeter:100\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 1300,
        "wires": [
            [
                "cd4ace3c792aeca6",
                "983d0fa3aa9743d3"
            ]
        ]
    },
    {
        "id": "cd4ace3c792aeca6",
        "type": "debug",
        "z": "2a88d4a90841add0",
        "name": "MQTT RPC VOLTMETER 100",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.params",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1300,
        "wires": []
    },
    {
        "id": "983d0fa3aa9743d3",
        "type": "switch",
        "z": "2a88d4a90841add0",
        "name": "closed?",
        "property": "payload.params[\"voltmeter:100\"].voltage",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "1.5",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "1.5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1100,
        "y": 1300,
        "wires": [
            [
                "1a2d1d71e5a9345d"
            ],
            [
                "8df01522a53152ed"
            ]
        ]
    },
    {
        "id": "98a67e7e2a5e0c2a",
        "type": "link out",
        "z": "2a88d4a90841add0",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "d87edc12e120676e"
        ],
        "x": 1825,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d87edc12e120676e",
        "type": "link in",
        "z": "2a88d4a90841add0",
        "name": "link in 16",
        "links": [
            "98a67e7e2a5e0c2a"
        ],
        "x": 425,
        "y": 500,
        "wires": [
            [
                "9cf3204feb1f2376"
            ]
        ]
    },
    {
        "id": "50e9af82e150aac0",
        "type": "link out",
        "z": "2a88d4a90841add0",
        "name": "link out 17",
        "mode": "link",
        "links": [
            "786a2818fe3a4fca"
        ],
        "x": 1825,
        "y": 1120,
        "wires": []
    },
    {
        "id": "786a2818fe3a4fca",
        "type": "link in",
        "z": "2a88d4a90841add0",
        "name": "link in 17",
        "links": [
            "50e9af82e150aac0"
        ],
        "x": 425,
        "y": 540,
        "wires": [
            [
                "9cf3204feb1f2376"
            ]
        ]
    },
    {
        "id": "73c81c0af1277b7f",
        "type": "link out",
        "z": "2a88d4a90841add0",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "12b9e59eae1fd454"
        ],
        "x": 1825,
        "y": 1080,
        "wires": []
    },
    {
        "id": "12b9e59eae1fd454",
        "type": "link in",
        "z": "2a88d4a90841add0",
        "name": "link in 18",
        "links": [
            "73c81c0af1277b7f"
        ],
        "x": 435,
        "y": 300,
        "wires": [
            [
                "3ca7dc0ea32d71de"
            ]
        ]
    },
    {
        "id": "34823cce959dee36",
        "type": "link out",
        "z": "2a88d4a90841add0",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "09b4acaa60012e13"
        ],
        "x": 1825,
        "y": 980,
        "wires": []
    },
    {
        "id": "09b4acaa60012e13",
        "type": "link in",
        "z": "2a88d4a90841add0",
        "name": "link in 19",
        "links": [
            "34823cce959dee36"
        ],
        "x": 435,
        "y": 260,
        "wires": [
            [
                "3ca7dc0ea32d71de"
            ]
        ]
    },
    {
        "id": "9978e9fbd7133703",
        "type": "debug",
        "z": "2a88d4a90841add0",
        "name": "setting door to locked",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1980,
        "y": 1000,
        "wires": []
    },
    {
        "id": "53583013d4c938c2",
        "type": "debug",
        "z": "2a88d4a90841add0",
        "name": "setting door to unlocked",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1990,
        "y": 1100,
        "wires": []
    },
    {
        "id": "dcba29cfc083d2e0",
        "type": "switch",
        "z": "2a88d4a90841add0",
        "name": "is door closed ?",
        "property": "isDoorClosed",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1120,
        "y": 1100,
        "wires": [
            [
                "ef1dde894ee5564f"
            ],
            [
                "348ce087e26ee668"
            ]
        ]
    },
    {
        "id": "b3d563490fb8c5b5",
        "type": "delay",
        "z": "2a88d4a90841add0",
        "name": "",
        "pauseType": "delay",
        "timeout": "90",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 250,
        "y": 900,
        "wires": [
            [
                "434cc977fce7ae8e"
            ]
        ]
    },
    {
        "id": "434cc977fce7ae8e",
        "type": "change",
        "z": "2a88d4a90841add0",
        "name": "Trigger Output 1 (450ms)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"Switch.Set\",\"parameters\":{\"id\":1,\"on\":true}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 900,
        "wires": [
            [
                "8348269b1a9fe7b0"
            ]
        ]
    },
    {
        "id": "06779d7f93e34dc2",
        "type": "inject",
        "z": "2a88d4a90841add0",
        "name": "Lock",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "404524ffbe11c3dc"
            ]
        ]
    },
    {
        "id": "31becb7356035672",
        "type": "inject",
        "z": "2a88d4a90841add0",
        "name": "Unlock",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "79ba4b72ccf00ab0"
            ]
        ]
    },
    {
        "id": "f86b9b0ac7e05888",
        "type": "comment",
        "z": "2a88d4a90841add0",
        "name": "Output 0 -> Short Lock signal to door actuator",
        "info": "Input 0 - Lock signal from BCM\nInput 1 - Unlock signal from BCM\n\nVoltmeter ~ 0.2V - Door Closed\nVoltmeter ~ 2.9V - Door Open\n\nOutput 0 -> Lock signal to door actuator\nOutput 1 -> Unlock signal to door actuator",
        "x": 300,
        "y": 760,
        "wires": []
    },
    {
        "id": "b3be2bb2402df40c",
        "type": "trigger",
        "z": "2a88d4a90841add0",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "0.5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1670,
        "y": 1040,
        "wires": [
            [
                "34823cce959dee36",
                "98a67e7e2a5e0c2a",
                "73c81c0af1277b7f",
                "50e9af82e150aac0"
            ]
        ]
    },
    {
        "id": "1df511e3f4c3c225",
        "type": "delay",
        "z": "2a88d4a90841add0",
        "name": "",
        "pauseType": "delay",
        "timeout": "600",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 250,
        "y": 940,
        "wires": [
            [
                "b95c526a961061f9"
            ]
        ]
    },
    {
        "id": "b95c526a961061f9",
        "type": "change",
        "z": "2a88d4a90841add0",
        "name": "Trigger Output 1 (450ms)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"Switch.Set\",\"parameters\":{\"id\":1,\"on\":true}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 940,
        "wires": [
            [
                "8348269b1a9fe7b0"
            ]
        ]
    },
    {
        "id": "4fa1de72ab05c96a",
        "type": "switch",
        "z": "2a88d4a90841add0",
        "name": "is door closed ?",
        "property": "isDoorClosed",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 700,
        "wires": [
            [
                "404524ffbe11c3dc"
            ],
            [
                "723229c340cce6c8"
            ]
        ]
    },
    {
        "id": "723229c340cce6c8",
        "type": "link out",
        "z": "2a88d4a90841add0",
        "name": "link out 20",
        "mode": "link",
        "links": [
            "042bcdf06d95ed54"
        ],
        "x": 395,
        "y": 720,
        "wires": []
    },
    {
        "id": "042bcdf06d95ed54",
        "type": "link in",
        "z": "2a88d4a90841add0",
        "name": "link in 20",
        "links": [
            "723229c340cce6c8"
        ],
        "x": 1015,
        "y": 880,
        "wires": [
            [
                "8df01522a53152ed"
            ]
        ]
    }
]